/************************
        GENERAL
*************************/

html {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    font-size: 16px;
}

body{
    font-family: 'Orbitron', 'monospace', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #cfd2d6;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#wrap {

    min-height: calc(100vh - 87px);
}


/***************************************
        HEADING and FOOTING
****************************************/

.main-header {
    align-items: center;
    font-family: 'Cinzel', 'Orbitron', sans-serif, serif;
    letter-spacing: 0.30rem;
/*    background-image:url("../webz_img/DSC_0054.JPG");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
     /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}


#logo { /*** h1 & h2 ***/
    grid-column: 1/3;
    justify-self: center;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px black;
}

.main-h1 {
    margin: 1px;
    padding-top: 15px;
    font-size: 2.25rem;
    line-height: 2.8rem;
    border-bottom: 3px solid white;
} 

.main-h2{
    font-size: 1.25rem;
    margin-top: 20px;
    line-height: .25rem;

}

footer {
    font-size: 0.75rem;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    clear: both;
    background-color: #000;
    
    
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}

.footer-copy {
    color: white;
    padding-top: 10px;
    letter-spacing: .20rem;
    margin: 0;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: white;
    border-radius: 75%
}


/***************************************
             NAVIGATION
****************************************/

.main-nav {
    align-self: center;
    padding-bottom: 0px;
}

.main-nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 8px black;
}

.main-nav-list {
    font-size: 1.25rem;
    margin: 0 auto;
    line-height: 1.75rem;
    
    
}

.main-nav-a {
    line-height: 3rem;
    margin-top: 10px;
    color: white;
    font-weight: 300;
    border-bottom: 1px solid white;
    
}

.main-nav-a:hover {
    color: #32673f;
}

.selected {
    color: lightgreen;
}

/***************************************
            PAGE: PHOTOS
****************************************/


.crop img{
    width: 100%;
    border-radius: 4px;

}

.crop a img {
    border: none;
}


#photos_grid {
    display: inline-block;
    box-sizing: border-box;
/*    grid-template-columns: 1fr;*/
    grid-gap: 5px;
    margin: 0 auto;
    padding: 10px;
    height: 100vh;
    width: 100vw;

}

/***************************************
            PAGE: ABOUT
****************************************/
#about-grid{
    display: grid;
    grid-template-columns: 1fr;
    
}
.about_background {
    background: url("../img1/vegasParking.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.about-wrapper {
    grid-template: 1/2;
    border-radius: 50px;
    overflow: auto;
   
}


.about-p {
    color: white;
    padding: 15px;
    letter-spacing: 2px;
    line-height: 1.75rem;
    background-color: #000;
    
    Opacity start
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    Opacity end
}




/***************************************
            PAGE: Contact
****************************************/
#primary {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(4 1fr);
}

.contact-head{
    grid-column: 2/3;
}

.contact-info {
    grid-column: 2/3;
    grid-row: 2/3;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img1/mail.png');
    color: white;
}


.contact-info li.twitter a {
    background-image: url('../img1/twitter.png');
    color: white;
}





