/************************
        GENERAL
*************************/

html {
    box-sizing: border-box;
    height:100%;
    width: 100%;
    font-size: 16px;
}

body{
    font-family: 'Orbitron', 'monospace', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #605e5e;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#wrap {
    min-height: calc(100vh - 122px);
}


/***************************************
        HEADING and FOOTING
****************************************/

.main-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-family: 'Cinzel', 'Orbitron', sans-serif, serif;
    letter-spacing: 0.30rem;
    background-color: #000;
    
     /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}


#logo { /*** h1 & h2 ***/
    justify-self: center;
    color: white;
    text-align: center;
}

.main-h1 {
    margin: 1px;
    padding-top: 15px;
    font-size: 2.25rem;
    line-height: 2.8rem;
    border-bottom: 3px solid white;
    border-radius: 5px;
} 

.main-h2{
    font-size: 1.25rem;
    margin-top: 20px;
    line-height: .25rem;

}

footer {
    font-size: 0.75rem;
    text-align: center;
    padding: 25px;
    clear: both;
    background-color: #000;
    
    
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}

.footer-copy {
    color: white;
    padding-top: 10px;
    letter-spacing: .20rem;
    margin: 0;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: white;
    border-radius: 75%
}


/***************************************
                NAVIGATION
****************************************/

.main-nav {
    grid-row: 2 / 3;
    align-self: center;
    padding-bottom: 20px;
}

.main-nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    
}

.main-nav-list {
    font-size: 1rem;
    margin: 0 auto;
    line-height: 1.75rem;
    
    
}

.main-nav-a {
    color: white;
    font-weight: 300;
    border-bottom: 1px solid white;
    
}

.main-nav-a:hover {
    color: #32673f;
}

.selected {
    color: lightgreen;
}

/***************************************
            PAGE: PHOTOS
****************************************/

.photos_background {
    height: 100%;
    width: 100%;
    background: url("../img1/darkforest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#photos_wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    
}

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;

}

#gallery li a p {
    margin: auto;
    padding: 5%;
    color: white;
    font-size: 130%;
    background-color: #1e2126;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}



/***************************************
            PAGE: ABOUT
****************************************/

.about_background {
    background: url("../img1/vegasParking.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.about-wrapper {
    display: inline-block;
    margin: 5% 30%; 
    border-radius: 50px;
    overflow: auto;
    
   
}

.about-p {
    color: whitesmoke;
    padding: 15px;
    letter-spacing: 2px;
    line-height: 1.75rem;
    background-color: #000;
    
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}




/***************************************
            PAGE: Contact
****************************************/
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img1/mail.png');
    color: blue;
}


.contact-info li.twitter a {
    background-image: url('../img1/twitter.png');
    color: blue;
}





/**************************************************************************
                                MEDIA QUERIES
***************************************************************************/


@media only screen and (min-width: 769px) {
    
}


@media only screen and (min-width: 1024px) {
    /***************************************
        HEADING and FOOTING
****************************************/

.main-header {
    
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    font-family: 'Cinzel', 'Orbitron', sans-serif, serif;
    letter-spacing: 0.30rem;
    background-color: #000;
    
     /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}


#logo { /*** h1 & h2 ***/
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    color: white;
    
}

.main-h1 {
    margin: 1px;
    padding-top: 15px;
    font-size: 3.75rem;
    line-height: 3.8rem;
    border-bottom: 3px solid white;
    border-radius: 5px;
} 

.main-h2{
    font-size: 2rem;
    margin-top: 20px;
    line-height: .8rem;

}

footer {
    font-size: 0.75rem;
    text-align: center;
    padding: 25px;
    clear: both;
    background-color: #000;
    
    
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}

.footer-copy {
    color: white;
    padding-top: 10px;
    letter-spacing: .20rem;
    margin: 0;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: white;
    border-radius: 75%
}
    
/***************************************
                NAVIGATION
****************************************/

.main-nav {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
    padding-bottom: 20px;
}

.main-nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    
}

.main-nav-list {
    font-size: 1rem;
    margin: 0 5rem ;
    
    
}

.main-nav-a {
    color: white;
    font-weight: 300;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    
}

.main-nav-a:hover {
    color: #32673f;
}

.selected {
    color: #32673f;
}

}